body {
  font-family: Arial;
  color: white;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #111;
}

.right {
  right: 0;
  background-color: rgb(187, 181, 181);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}


/*IMAGE SELECTION PROPERTIES*/
.center {
  display:inline;
  margin: 3px;
}

.image-upload-one{
padding-left: 15%;
}

 .form-input {
  width:500px;
 
} 
.form-input input {
  display:none;
}
.form-input label {
  display:block;
  width:500px;
  height: auto;
  max-height: 500px;
  background:rgb(0, 0, 0);
  border-radius:10px;
  cursor:pointer;
}

.form-input img {
  width:500px;
  height: 500px;
  margin: 2px;
  opacity: .4;
}

.imgRemove{
  position: relative;
  bottom: 114px;
  left: 68%;
  background-color: transparent;
  border: none;
  font-size: 30px;
  outline: none;
}
.imgRemove::after{
  content: ' \21BA';
  color: #fff;
  font-weight: 900;
  border-radius: 8px;
  cursor: pointer;
}
.small{
  color: firebrick;
} 