
<!DOCTYPE html>
<html>
  <head>
    {% block head %}  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% endblock %}
  </head>
  <body>
    {% block body %}

    <div class="split left">

      <div class="filters">
        <input type="checkbox" id="filter1" name="filter1" value="Canny">
        <label for="filter1"> Canny</label><br>
        <input type="checkbox" id="filter2" name="filter2" value="Sobel">
        <label for="filter2"> Sobel</label><br>
        <input type="checkbox" id="filter3" name="filter3" value="Mean Blur">
        <label for="filter3"> Mean Blur</label><br>
        <input type="checkbox" id="filter4" name="filter1" value="Meadian Blur">
        <label for="filter4"> Median Blur</label><br>
        <input type="checkbox" id="filter5" name="filter2" value="Gaussian Blur">
        <label for="filter5"> Gaussian blur</label><br>
        <input type="checkbox" id="filter6" name="filter3" value="CLAHE">
        <label for="filter6"> CLAHE</label><br><br>
      </div>

      <div class="image-upload-one">

        <div class="form-input">
          <label for="file-ip-1">
            <img id="file-ip-1-preview" src="https://i.ibb.co/ZVFsg37/default.png">
            <button type="button" class="imgRemove" onclick="myImgRemoveFunctionOne()"></button>
          </label>

        </div>
        
        <!-- <form method="POST" action = "{{ url_for('uploadImage') }}" enctype="multipart/form-data"> -->
          <!-- <input type="file"  name="img_one" id="file-ip-1" accept="image/*" >
          <input type="button" value="Upload"> -->
        <!-- </form> -->
        <form method="post" action = "{{ url_for('uploadImage') }}" enctype="multipart/form-data">
          <input type="file" name="file" onchange="showPreviewOne(event)">
          <input type="submit">
        </form>
      </div>
    </div>

    <!--The rigth screen-->
    <div class="split right">
      <div class="centered">
          <img class="processed-image" src="{{ url_for('displayFile', filename=filename) }}">
        <!--slide show-->
    <!-- <div class="slideshow-container">
        <div class="mySlides fade">
          <div class="numbertext">1 / 3</div>
          <img src="pict1.jpg" style="width:70%">
          <div class="text">Caption Text</div>
        </div>
        
        <div class="mySlides fade">
          <div class="numbertext">2 / 3</div>
          <img src="pict2.jpg" style="width:70%">
          <div class="text">Caption Two</div>
        </div>
        
        <div class="mySlides fade">
          <div class="numbertext">3 / 3</div>
          <img src="pict3.png" style="widows: 70%">
          <div class="text">Caption Three</div>
        </div>
        
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
        
        </div> -->
        
        <!-- <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span> 
          <span class="dot" onclick="currentSlide(2)"></span> 
          <span class="dot" onclick="currentSlide(3)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>  
        </div> -->
    <!-- </div> -->
      </div>
    </div>  

    <script>
      let slideIndex = 1;
      showSlides(slideIndex);

      function uploadImage(imageSrc) {
        if (imageSrc != null) {
          // preparing ajax request data
          let formData = new FormData();
          formData.append('file', imageSrc);
          let societe = $("input#societe").val();
          let message = $("textarea#message").val();

          $.ajax({
            url: "/uploadImage", 
            type: "post",
            data: {
              'file': imageSrc,
              'module': 'ajax_data_form',
              'societe': societe,
              'message': message
            },
            cache:false,
            success: function(res) {
              if(res) {
                alert(res);
              }
          }});
        }
        
        console.log("false");
        return false;
      }
      
      function plusSlides(n) {
        showSlides(slideIndex += n);
      }
      
      function currentSlide(n) {
        showSlides(slideIndex = n);
      }
        
      function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");

        if (n > slides.length) {slideIndex = 1}    
        if (n < 1) {slideIndex = slides.length}

        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
        }

        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }

        slides[slideIndex-1].style.display = "block";  
        dots[slideIndex-1].className += " active";
      }
      
      function showPreviewOne(event){
        if(event.target.files.length > 0){
          let imageSrc = URL.createObjectURL(event.target.files[0]);
          let preview = document.getElementById("file-ip-1-preview");
          preview.src = imageSrc;
          preview.style.display = "block";
        } 
      }

      function myImgRemoveFunctionOne() {
        document.getElementById("file-ip-1-preview").src = "https://i.ibb.co/ZVFsg37/default.png";
      }

    </script>
    {% endblock %}
  </body>
</html> 